@import "settings/reset";
@import "settings/mixins";
@import "settings/fonts";
@import "settings/variables";

// components
@import "components/nav.scss";
@import "components/footer.scss";



.hero {
  background-image: url("../images/hero-bg.png");
  height: 900px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  flex-direction: column;
  gap: 32px;

  
  &::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 900px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  
  &__heading {
    width: 25%;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    
    @include media($tablet) {
      font-size: 30px;
      width: 60%;
    }
    
    @include media($mobile) {
      font-size: 30px;
      width: 95%;
    }
  }
  
  &__divider {
    width: 100px;
    height: 1px;
    background-color: #fff;
  }
  
  &__text {
    width: 24%;
    font-family: Open Sans;
    font-size: 14px;
    text-align: center;
    color: #e5e5e5;
    
     
    @include media($tablet) {
      font-size: 14px;
      width: 80%;
    }
    
    @include media($mobile) {
      font-size: 14px;
      width: 90%;
    }
  }
  
}

.heroContainer {
  width: 323px;
  height: 42px;
  border: solid 1px #d4a373;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__scroll {
    
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: condensed;
    text-align: center;
    color: #fff;
    text-decoration: none;
    color: white;
        
    &:hover {
      color: #d4a373;

    }
    
  }
}

.latestNews {
  
  &__heading {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #111;
    margin-top: 70px;
  }
  
  &__subheading {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    margin-top: 10px;
  }
  
  &__tagCardContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    
    @include media($tablet) {
      width: 80%;
      align-items: center;
    }
    
    @include media($mobile) {
      width: 95%
    }

  }
  
  
  &__tagList {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    margin-top: 60px;
    flex-wrap: wrap;
    
    @include media($tablet) {
      gap: 16px;
    }
    
    @include media($mobile) {
      gap: 8px;
    }
  }
  
  &__tagListItem {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: condensed;
    text-align: left;
    color: #111;
    
    &:hover {
      color: #d4a373
    }
    
    &--active {
      @extend .latestNews__tagListItem;
      color: #d4a373;
    }
  }

}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 25px;
  
  
  @include media(1495px) {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

  }
  
  @include media($tablet) {
    display: flex;
    flex-direction: column;
  }
}

.card {
  height: 475px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  
  &:hover {
      transform: scale(1.02);
      transition: transform 0.5s ease;

    .card__img {
      opacity: 1;
    }
  }
  
  &__details {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
  }
    
  &__img {
    height: 280px;
    border-radius: 10px 10px 0 0;
    opacity: 0.9;
    margin: 0 -10px;

  }
  
  &__date {
    font-family: Open Sans;
    font-size: 12px;
    text-align: left;
    color: #111;
    padding-left: 20px;
  
  }
  
  &__heading {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #111;
    padding-left: 20px;
  }
  
  &__content {
    font-family: Open Sans;
    font-size: 12px;
    text-align: left;
    color: #111;
    padding-left: 20px;
  }
}

.formContainer {
  background-color: #efefef;
  margin-top: 88px;
  padding: 1px 0;
  
  &__heading {
    font-family: Open Sans;
    margin-top: 68px ;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #111;
    
    @include media($tablet) {
      text-align: left;
      margin-left: 10%;
    }
  }
}

  
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 90px auto;
  
  @include media($tablet) {
    width: 80%;

  }
  
  @include media($mobile) {
    width: 90%;
  }
  
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    
    @include media($tablet) {
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }
  }
  
  &__labelInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

  }
  
  &__label {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: condensed;
    line-height: 1.79;
    text-align: left;
    color: #111;
  }
  
  &__input {
    width: 100%;
    height: 42px;
    padding: 8px 15px;
    border: solid 1px #495057;
    background-color: #fff;
    
    @include media($tablet) {
      width: 100%;
    }
    
    @include media($mobile) {
      width: 100%;
    }
  }
  
  &__textarea {
    @extend .form__input;
    height: 116px;
  }
  
  &__checkboxButton {
    @extend .form__labelInput;
    justify-content: space-between;
  }
  
  &__checkbox {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    margin-top: 14px;
  }
  
  &__button {
    height: 42px;
    background-color: #d4a373;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: condensed;
    text-align: center;
    color: #fff;
    margin-top: 17px;
    border: none;
    
    &:hover {
      opacity: 0.7;
    }
  }
}


